@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|IBM+Plex+Sans:500&display=swap");

:root {
  --color-primary: #6b7a8f;
  --color-secondary: #101118;
  --color-accent: #1d1f2f;
  --color-focus: #6d64f7;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

//   Icons
.icon {
  fill: var(--color-primary);
  width: 100%;
}

//  Buttons
.btn {
  background: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  box-shadow: none;

  &:focus {
    outline-color: var(--color-focus);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 3px;
  }

  &:active {
    transform: translateY(1px);
  }
}

.styleTitle {
  color: white;
  font-weight: bolder;
  font-family: cursive;
  text-shadow: 2px 1px #1c2a48;
}

//   Slider controls
// .slider__controls {
//   display: flex;
//   justify-content: center;
//   position: absolute;
//   top: calc(100% + 1rem);
//   width: 100%;

//   .btn {
//     --size: 3rem;

//     align-items: center;
//     background-color: transparent;
//     border: 3px solid transparent;
//     border-radius: 100%;
//     display: flex;
//     height: var(--size);
//     padding: 0;
//     width: var(--size);

//     &:focus {
//       border-color: var(--color-focus);
//       outline: none;
//     }

//     &--previous > * {
//       transform: rotate(180deg);
//     }
//   }
// }

// Slider
.slider {
  --slide-size: 26vmin;
  --slide-margin: 1.7vmin;
  height: var(--slide-size);
  margin: 0 auto 2em 1em;
  // width: var(--slide-size);
  min-width: 1px;
}

.slider__wrapper {
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  padding-left: 4em;
  position: absolute;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
  min-width: 1px;
}

//   Slide
.slide {
  display: flex;
  align-items: center;
  // flex: 1;
  flex-direction: column;
  justify-content: center;
  height: var(--slide-size);
  margin: 0 var(--slide-margin);
  width: var(--slide-size);
  z-index: 1;
  overflow: hidden;
  opacity: 0.6;
  position: relative;
  text-align: center;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);

  &--previous,
  &--next {
    &:hover {
      opacity: 1;
    }
  }

  &--previous {
    cursor: w-resize;

    &:hover {
      transform: translateX(2%);
    }
  }

  &--next {
    cursor: e-resize;

    &:hover {
      transform: translateX(-2%);
    }
  }
}

.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;

  opacity: 1;
  pointer-events: auto;
  user-select: auto;
  border: 2px solid white;

  @media (hover: hover) {
    &:hover .slide__image-wrapper {
      transform: scale(1.025)
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        );
    }
  }
}

.slide__image-wrapper {
  background-color: var(--color-accent);
  border-radius: 1%;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
}

.slide__image {
  --d: 20;
  height: 110%;
  left: -5%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: -5%;
  transition: opacity var(--base-duration) var(--base-ease),
    transform var(--base-duration) var(--base-ease);
  user-select: none;
  width: 110%;

  @media (hover: hover) {
    .slide--current & {
      transform: translate(
        calc(var(--x) / var(--d) * 1px),
        calc(var(--y) / var(--d) * 1px)
      );
    }
  }
}

.slide__headline {
  font-size: 3vmin;
  font-weight: bolder;
  position: relative;
  margin-bottom: 2.5em;
  color: white;
  text-shadow: 2px 2px #1c2a48;
}

.slide__content {
  --d: 60;

  opacity: 0;
  // padding: 1vmin;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  visibility: hidden;
  // background: white;
  width: 100%;

  .slide--current & {
    animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
    visibility: visible;

    @media (hover: hover) {
      transform: translate(
        calc(var(--x) / var(--d) * -1px),
        calc(var(--y) / var(--d) * -1px)
      );
    }
  }

  > * + * {
    margin-top: 2rem;
  }
}

//   Animations
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.position {
  position: fixed;
}
